@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* > * {
  box-sizing: border-box;
  font-family: "Muli";
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.rpv-core__text-layer {
  display: none;
}

.rpv-core__inner-page {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  margin: 0;
}
